body {
    font-family: 'Roboto', sans-serif;
    color: #313131;
    padding: 0;
    margin: 0;
}

.card {
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .11), 
    1px 0 7px rgba(0, 0, 0, .13);
}

.img-box .avatar {
    width: 100%;
}