body {
    font-family: 'Roboto', sans-serif;
    color: #313131;
    padding: 0;
    margin: 0;
}

a {
    all: unset;
}

.card {
    text-align: center;
    background-color: #ccc;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .22), 
    2px 0 15px rgba(0, 0, 0, .26);
}

.img-box .avatar {
    width: 100%;
}

