body {
    font-family: 'Roboto', sans-serif;
    color: #313131;
    padding: 0;
    margin: 0;
}

.card {
    position: relative;
    text-align: center;
    background-color: #ccc;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: 220ms;
    top: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .22), 
    2px 0 15px rgba(0, 0, 0, .26);
}

.card:hover .content {
   bottom: 0;
}

.card:hover .img-box .avatar{
    opacity: .6;
}

.card:hover {
    top: -12px;
}

.img-box .avatar {
    display: block;
    width: 100%;
    transition: 220ms;
}

.content {
    text-align: center;
    position: absolute;
    bottom: -55%;
    transition: 220ms linear;
    background: linear-gradient(to top, #ff6347b5 0%, transparent 100%);
    color: #333;
}

.content p {
    font-weight: 300;
}

.content .contact {
    list-style: none;
    padding: 0;
}

.content .contact .item {
    display: inline-block;
    margin: 0 1rem;
    color: gray;
}

.content .contact .item a {
    color: white;
}
