extends ../layouts/common

block styles
    link(rel="stylesheet", href="/styles/reviews.css")

block content
  .card
    .img-box
      img.avatar(src='https://about.canva.com/wp-content/uploads/sites/3/2015/01/children_bookcover.png', alt='')
    .content
      h2 Book Addicted
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, est.
      ul.contact
        li.item
          a(href='')
            i.fab.fa-facebook-f
        li.item
          a(href='')
            i.fab.fa-google
        li.item
          a(href='')
            i.fab.fa-github
  .card
    .img-box
      img.avatar(src='https://99designs-blog.imgix.net/wp-content/uploads/2017/12/attachment_83090027.jpg?auto=format&q=60&fit=max&w=930', alt='')
    .content
      h2 Book Addicted
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, est.
      ul.contact
        li.item
          a(href='')
            i.fab.fa-facebook-f
        li.item
          a(href='')
            i.fab.fa-google
        li.item
          a(href='')
            i.fab.fa-github
  .card
    .img-box
      img.avatar(src='https://about.canva.com/wp-content/uploads/sites/3/2015/01/art_bookcover.png', alt='')
    .content
      h2 Book Addicted
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, est.
      ul.contact
        li.item
          a(href='')
            i.fab.fa-facebook-f
        li.item
          a(href='')
            i.fab.fa-google
        li.item
          a(href='')
            i.fab.fa-github
  .card
    .img-box
      img.avatar(src='https://marketplace.canva.com/MACXC0twKgo/1/0/thumbnail_large/canva-green-and-pink-science-fiction-book-cover-MACXC0twKgo.jpg', alt='')
    .content
      h2 Book Addicted
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, est.
      ul.contact
        li.item
          a(href='')
            i.fab.fa-facebook-f
        li.item
          a(href='')
            i.fab.fa-google
        li.item
          a(href='')
            i.fab.fa-github

                                                      